* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

img {
    width: 20%;
}

header, section {
    padding: 2rem;
}

header {
    background-color: white;
    background-size: cover;
}

.logo {
    width: 25%;
}

.grid_3_column {
display: grid;
grid-template-columns: repeat(3, 1fr);
}